.interet{
  background-image:url("../../images/bg-interet.jpg") ;
  background-attachment:fixed;
  height: 1300px;
  padding-top: 100px;
}
.interet .conteneur p{
  font-family: var(--font-primaire);
  font-size: 18px;
  margin-bottom: 50px;
}
.interet p {
  font-family: var(--font-primaire);
  font-size: 18px;
  text-align: center;
}