h1{
  color: white;
  font-family: var(--font-secondaire);
  font-size:36px ;
  margin: 0;
}
h2{
  font-family: var(--font-secondaire);
  font-size: 80px;
  color: white;


}
h3{
  font-family: var(--font-primaire);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

h4{
  font-family: var(--font-primaire);
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}